<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated School -->
      <package
            uri="http://www.example.org/school"
            class="org.example.school.school.SchoolPackage"
            genModel="model/School.genmodel"/>
   </extension>

</plugin>
