*.class
bin/
*~
logs.zip
*.orig
*.java._trace
*.smap

# src-gen is excluded on a per project basis
#src-gen/

xtend-gen/
emf-gen/

# for Maven builds
target

# for Gradle builds
build
.gradle

.DS_Store
