<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Library -->
      <package
            uri="org.example.library"
            class="org.example.library.LibraryPackage"
            genModel="model/Library.xcore"/>
   </extension>

</plugin>
