<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.example.org/customgreetings/Greetings"
			class = "org.example.customgreetings.greetings.GreetingsPackage"
			genModel = "model/custom/Greetings.genmodel" />
	</extension>
</plugin>
